<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #eae9e8;
        }
    </style>
</head>
<body>
   <img src="/images/404-drib23.gif" alt="404" style="height: 100vh; margin-left: 17vw;">
</body>
</html>